<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h3>编辑</h3>
<body>
<!--/booklist/editbook/?nid={{book.id}}-->
<!--<input style='display: none' name='id' value="{{book.id}}" />-->
<form method="POST" action="/booklist/editbook/">
   <input style='display: none' name='id' value="{{book.id}}" />
   书名:<input type='text' name='title' value="{{book.title}}"/><br>
{#    作者:<input type='text' name='writer' value="{{book.writer}}" /><br>#}
    出版社:<input type='text' name='press' value="{{book.press}}" /><br>
    出版日期:<input type='' name='date' value="{{book.date | date:'Y-m-d'}}"/><br>
    <input type='submit' value='提交' />
</form>
</body>
</html>