<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bt/css/bootstrap.css">
    <script type="text/javascript" src="/static/js/myjs.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.6.0.js"></script>
</head>
<body>
    <form>
        <input id="p1" class="p1" type="text">
        <input id="btn" class="btn" type="button" value="go">
    </form>


<script>
    $('#btn').click(function (){
        $('.p1').value='132';
    })
</script>
</body>
</html>