<style>
        body{
            margin: 0 auto;
        }

        .pg-header{
            height:48px;
            min-width:1190px;
            background-color: #204d74;
            line-height: 48px;
        }

        .logo{
            color: white;
            font-size: 18px;
            width: 200px;text-align: center;
        }

        .rmenus a{
            display: inline-block;
            padding: 0 15px;
            color: white;
        }
         .rmenus a:hover{
             background-color: #2aabd2;
         }

        .menus{
            width: 200px;
            position: absolute;
            left: 0;
            top: 48px;
            bottom: 0;
            background-color: #b2dba1;
            border-right: 1px solid #c7ddef;
        }

        .hide{
            display: none;
        }

        .person:hover .personinfo{
            display: block;
        }

        .person img{
            border-radius: 50%;
        }

        .personinfo{
            display: none;
            position: absolute;width: 200px;top: 48px;right: 4px;background-color: white;z-index: 100
        }

        .content{
            float: left;
            position: absolute;
            left: 200px;
            top: 48px;
            bottom: 0;
            right: 0;
            background-color: #cccccc;
            overflow: scroll;
            z-index: 99;
        }

        .left{
            float: left;
        }

        .right{
            float: right;
        }

        .menus a{
            display: block;
            padding:10px 5px;
            border-bottom: 1px solid #ac2925;
            {#background-color: white;#}

        }

</style>